.topbar-responsive {
    background: #2c3840;
    padding: 1rem 1.5rem;
  }
  
  .topbar-responsive .topbar-responsive-logo {
    color: #fefefe;
    vertical-align: middle;
  }
  
  .topbar-responsive .menu {
    background: #2c3840;
  }
  
  .topbar-responsive .menu li:last-of-type {
    margin-right: 0;
  }
  
  .topbar-responsive .menu a {
    color: #fefefe;
    transition: color 0.15s ease-in;
  }
  
  .topbar-responsive .menu a:hover {
    color: #c6d1d8;
  }
  
  @media screen and (max-width: 39.9375em) {
    .topbar-responsive .menu a {
      padding: 0.875rem 0;
    }
  }
  
  .topbar-responsive .menu .topbar-responsive-button {
    color: #fefefe;
    border-color: #fefefe;
    border-radius: 5000px;
    transition: color 0.15s ease-in, border-color 0.15s ease-in;
  }
  
  .topbar-responsive .menu .topbar-responsive-button:hover {
    color: #c6d1d8;
    border-color: #c6d1d8;
  }
  
  @media screen and (max-width: 39.9375em) {
    .topbar-responsive .menu .topbar-responsive-button {
      width: 100%;
      margin: 0.875rem 0;
    }
  }
  
  @media screen and (max-width: 39.9375em) {
    .topbar-responsive {
      padding: 0.75rem;
    }
    .topbar-responsive .top-bar-title {
      position: relative;
      width: 100%;
    }
    .topbar-responsive .top-bar-title span {
      position: absolute;
      right: 0;
      border: 1px solid #fefefe;
      border-radius: 5px;
      padding: 0.25rem 0.45rem;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
    }
    .topbar-responsive .top-bar-title span .menu-icon {
      margin-bottom: 4px;
    }
  }
  
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  
  @keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  
  @media screen and (max-width: 39.9375em) {
    .topbar-responsive-links {
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      -webkit-animation-duration: 0.5s;
              animation-duration: 0.5s;
      width: 100%;
      -webkit-animation: fadeIn 1s ease-in;
              animation: fadeIn 1s ease-in;
    }
  }

  @import url(https://fonts.googleapis.com/css?family=Lato);
/* CENTERING */
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

/* /end */
body {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

h3 {
  position: relative;
  left: 45%;
}



/* /end */
/* THE BACK */
.back {
  
  background-size: cover;
}
.back h1, .back p, .back .font-a-icons {
  color: #000;
  font-family: "Lato";
  /*margin-left: 30%;
  line-height: 90%;*/
  text-align: left;
}
.back h1 {
  margin-top: 5%;
}
.back p {
  font-size: 16px;
  padding-bottom: 15px;
  width: 35%;
  
}
.back .bold {
  font-weight: bold;
}
.back .font-a-icons {
  margin-top: 25px;
}
.back .font-a-icons .icon-group {
  margin-top: 8px;
}
.back .font-a-icons span, .back .font-a-icons .link, .back .font-a-icons .fa, .back .font-a-icons a {
  color: #000;
}
.back .font-a-icons .fa {
  font-size: 18px;
}
.back .font-a-icons span, .back .font-a-icons a {
  font-size: 16px;
}
.back .font-a-icons a, .back .font-a-icons .website {
  text-decoration: none;
}
.back .font-a-icons a:hover, .back .font-a-icons .website:hover {
  color: #3f3f3f;
}
.back .icon-box {
  position: relative;
  color: #000;
  font-size: 24px;
  height: 45px;
  width: 45px;
  padding: 5px;
  top: 75px;
  left: 30%;
  display: inline-block;
  border: 2px solid #000;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.back .icon-box:hover {
  box-shadow: inset 0 50px 0 0 #000;
  color: #fff;
}


/*right*/
.right {

    height: 90px;
    width: 90px;
    border: 10px dashed lightblue;
    border-radius: 5px;
    background-color: lightyellow;
    float: right;
    position: fixed;
    margin-top: 5px;
    }
